/*Algunas variables para el CSS*/
:root {
    /*Estas variables son para colores principales*/
    --color-header: #1d1f1c;
    --color-nav-text: rgb(246, 134, 134);
    --color-principal: rgba(249, 143, 129, 0.5);

    /*Estas variables son para textos*/
    --color-titulos: rgb(255, 167, 74);
    --color-parrafos: rgba(245, 127, 54, 0.823);
    --color-proyecto: rgb(241, 150, 107);

    /*Estas variables son para el boton*/
    --color-boton: #3b3939;
    --color-boton-hover: #f16969;

    /*Esta variable es para el footer*/
    --color-footer: rgb(251, 131, 131);

    /*Estas variables son para estilos del texto*/
    --borde-blanco: 2px solid white;
    --texto-blanco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--color-header);
    height: 12vh;
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header nav {
    margin-left: auto;
}

header img {
    height: 130px;
    max-height: 100%;
}

header nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-right: 15px;
}

header nav ul li a {
    color: var(--color-nav-text);
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 2px rgba(192, 95, 95, 0.7);
    transition: 0.3s;
}

header nav ul li a:hover {
    color: white;
}

main {
    position: relative;
    min-height: 80vh;
    padding-top: 12vh;
}

section {
    position: static;
    left: 0;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("assets/fondo.gif");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 25px;
}

/*Para cuando vaya a agregar una imagen*/
/*#acerca{
    margin-top: 50vh;
}
*/

#acerca p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(245, 127, 54, 0.823);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.766);
    -webkit-text-stroke: 0.3px rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.bloque {
    margin-bottom: 120px;
    background-color: var(--color-principal);
    padding: 20px;
    border-radius: 10px;
    scroll-margin-top: 14vh;
}

#contacto {
    margin-bottom: 100px;
}

.bloque h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.766);
    -webkit-text-stroke: 0.3px rgb(255, 255, 255);
    color: rgb(255, 167, 74);
    font-size: 28px;
    margin-bottom: 30px;
    text-decoration: 2px underline rgb(255, 255, 255);
    text-underline-offset: 7px;
}

.lista-tec li {
    color: rgb(246, 110, 110);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.766);
    -webkit-text-stroke: 0.3px rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.contacto-grid {
    display: flex;
    justify-content: space-around;
    color: rgb(255, 113, 113);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.766);
    margin-top: 15px;
}

.muestras {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap: 20px;
}

.proyecto {
    background-color: var(--color-proyecto);
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: var(--borde-blanco);
    border-radius: 10px;
}

.proyecto img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.proyecto h3 {
    font-weight: bold;
    font-family: fantasy;
    color: rgb(255, 140, 0);
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.766);
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    margin: 5px 5px;
}

.proyecto p {
   font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin: 10px 5px;
}

.proyecto a {
    margin-top: auto;
    width: 100%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: var(--color-boton);
    padding: 10px;
    text-decoration: none;
    border-radius: 0 0 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.proyecto a:hover{
    background-color: var(--color-boton-hover);
    transform: scale(1);
}

.tec-proyecto {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
}

.tec-proyecto span {
    background-color: rgb(255, 217, 180);
    color: rgb(255, 140, 60);
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 15px;
    border: 3px solid rgb(255, 161, 66);
}
    
.contacto-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icono-contacto {
    width: 30px;
    height: 30px;
}

footer {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(199, 37, 37, 0.766);
    -webkit-text-stroke: 0.3px rgb(251, 251, 251);
    border-top: var(--borde-blanco);
    background-color: var(--color-footer);
}

@media (max-width: 480px){
    header img {
        height: 100px;
        margin: -15px;
    }

    header nav ul {
        gap: 10px;
        margin-right: -10px;
    }

    header nav ul li a {
        font-size: 12px;
    }

    .bloque h2 {
        font-size: 25px;
    }

    #acerca p{
        font-size: 18px;
        text-align: justify;
    }

    .lista-tec li {
        font-size: 20px;
    }

    .muestras {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .proyecto img {
        height: 180px;
        margin-bottom: 7px;
    }

    .proyecto h3 {
        font-size: 20px;
        text-align: center;
    }

    .proyecto p {
        font-size: 17px;
        text-align: center;
    }

    .tec-proyecto {
        justify-content: center;
    }

    .tec-proyecto span {
        font-size: 15px;
        padding: 3px 8px;
        margin-bottom: 10px;
    }

    .proyecto a {
        font-size: 17px;
        padding: 8px;
    }

    .contacto-grid {
        display: grid;
        font-size: 17px;
        margin-top: 15px;
    }

    .contacto-item {
        margin-bottom: 25px;
    }

    .contacto-item p {
        margin: 0;
    }

    .contacto-item {
        align-items: flex-start;
    }
}